body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}
.container {
    display: flex;

}
.sidebar {
    width: 25%;
    border-radius: 10px;
    padding: 20px;
}
.sidebar img {
    max-width: 100%; 
    border-radius: 8px; 
}
.contact {
    background-color: red;
    color: white;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    font-size: 14px;
}
.contact::after {
    content: '';
    position: absolute;
    top: -20px; /* Расстояние от верха контейнера */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid red; 
}
.contact i {
    margin-right: 10px; /* отступ справа от иконок */
}
.welcome-text {
    position: relative;
    text-align: left;
    margin-top: 10px; 
    color: white; 
    font-size: 14px; 
    font-weight:400 ; 
}
.welcome-text img {
    position: absolute; /* Устанавливаем позицию абсолютную для изображения */
    top: 0; /* Располагаем изображение сверху */
    right: 0; /* Располагаем изображение справа */
}
